<table mat-table [dataSource]="tableData">
  <ng-container
    *ngFor="let tableHeader of tableHeaders; let i = index"
    matColumnDef="{{ tableHeader }}"
  >
    <th mat-header-cell *matHeaderCellDef>{{ tableHeader }}</th>
    <td mat-cell *matCellDef="let tableRow">{{ tableRow.columns[i] }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="tableHeaders"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: tableHeaders"
    (click)="emitId(row.link)"
    [ngClass]="{ 'new-row': row.rowColor != '' }"
  ></tr>
</table>
